<div class="container" [ngClass]="{'expand': pageSelection === pageSelectionType.CAR_BOOKING_PAGE}">
  <div *ngFor="let car of availableCars" class="row-container">

    <div class="row" id="carImage">
      <img class="image" [src]='car.imagePath' alt="carIcon">
      <span class="description" id="carName">{{car.brand}} {{car.name}}</span>
    </div>

    <div class="row" id="carPassenger">
      <img class="image" src="../../../../assets/icons/carSeat.png" alt="icon">
      <span class="description" id="carPassengerNumber">{{car.passenger}} Seater</span>
    </div>

    <div class="row" id="carWheels">
      <img class="image" src="../../../../assets/icons/carWheelImg.png" alt="icon">
      <span class="description" id="carPassengerNumber">{{car.wheels}} Wheller</span>
    </div>

    <div class="row" id="carCost">
      <span class="description" id="carCost">£{{car.costPerDay}} Per Day</span>
    </div>

    <div id="buttonToSelect" *ngIf="pageSelection === pageSelectionType.CAR_SELECTION_PAGE ">
      <img class="icons" src="../../../../assets/icons/addIcon.jpg" alt="add" (click)=onSelectCar(car)>
      <span class="tooltiptext">Add Selection</span>
    </div>

    <div id="buttonToSelect" *ngIf="pageSelection === pageSelectionType.CAR_BOOKING_PAGE ">
      <img class="icons" src="../../../../assets/icons/delete-icon.png" alt="add" (click)=onRemove(car)>
      <span class="tooltiptext">Delete Selection</span>
    </div>

  </div>
</div>